In [4]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
#Reading the dataset
dts = pd.read_csv("insurance_pre.csv")

In [6]:
dts

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dts = pd.get_dummies(dts,drop_first=True)

In [8]:
dts

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [9]:
#columns rename-ing
dts.rename(columns={"sex_male":"sex","smoker_yes":"smoker","charges":"premium_amt"},inplace=True)

In [10]:
dts

      age     bmi  children  premium_amt  sex  smoker
0      19  27.900         0  16884.92400    0       1
1      18  33.770         1   1725.55230    1       0
2      28  33.000         3   4449.46200    1       0
3      33  22.705         0  21984.47061    1       0
4      32  28.880         0   3866.85520    1       0
...   ...     ...       ...          ...  ...     ...
1333   50  30.970         3  10600.54830    1       0
1334   18  31.920         0   2205.98080    0       0
1335   18  36.850         0   1629.83350    0       0
1336   21  25.800         0   2007.94500    0       0
1337   61  29.070         0  29141.36030    0       1

[1338 rows x 6 columns]

In [11]:
dts.columns

Index(['age', 'bmi', 'children', 'premium_amt', 'sex', 'smoker'], dtype='object')

In [12]:
features = dts[["age","bmi","children","sex","smoker"]]
target = dts[["premium_amt"]]

In [13]:
features

      age     bmi  children  sex  smoker
0      19  27.900         0    0       1
1      18  33.770         1    1       0
2      28  33.000         3    1       0
3      33  22.705         0    1       0
4      32  28.880         0    1       0
...   ...     ...       ...  ...     ...
1333   50  30.970         3    1       0
1334   18  31.920         0    0       0
1335   18  36.850         0    0       0
1336   21  25.800         0    0       0
1337   61  29.070         0    0       1

[1338 rows x 5 columns]

In [14]:
target

      premium_amt
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [15]:
#import RF & GRIDSEARCH Libraries
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
hyperparam_grid = {"kernel":["rbf","sigmoid","linear"],
                   "C" : [10,50,100],
                   "gamma" : ["auto","scale"]}

grid = GridSearchCV(SVR(), hyperparam_grid,cv = 3, 
                    refit = True, verbose = 3, n_jobs = -1)

#model fitting for grid search
grid.fit(features,target)

Fitting 3 folds for each of 18 candidates, totalling 54 fits

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=3, estimator=SVR(), n_jobs=-1,
             param_grid={'C': [10, 50, 100], 'gamma': ['auto', 'scale'],
                         'kernel': ['rbf', 'sigmoid', 'linear']},
             verbose=3)

In [17]:
#printing best parameter after iterations from mentioned hyperparameters.

re = grid.cv_results_
print("The R2 score value for best parameter {}:".format(grid.best_params_))

The R2 score value for best parameter {'C': 100, 'gamma': 'auto', 'kernel': 'linear'}:

In [18]:
#Table building for data's
table = pd.DataFrame.from_dict(re)
#os library to perform file management process.
import os
#Directory to save the xlsx file
directory = '/home/had/jnotebook/HOPE_py_training/ML-Linear Regression-codes/GridSearchCV'
#file path for the xlsx file
file_path = os.path.join(directory,"iterations_SVR.xlsx")
#Save the dataframe to xlsx
table.to_excel(file_path, index=False)

In [19]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.230689,0.059381,0.205530,0.070021,10,auto,rbf,"{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}",-0.121859,-0.071812,-0.115978,-0.103216,0.022336,9
1,0.248304,0.090564,0.099092,0.010416,10,auto,sigmoid,"{'C': 10, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.124306,-0.073333,-0.116351,-0.104664,0.022391,11
2,0.273406,0.027228,0.114113,0.032125,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",-0.029744,0.024305,-0.087219,-0.030886,0.045536,5
3,0.350924,0.086273,0.176422,0.055338,10,scale,rbf,"{'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}",-0.120647,-0.062407,-0.126932,-0.103329,0.029050,10
4,0.437262,0.023185,0.130664,0.048804,10,scale,sigmoid,"{'C': 10, 'gamma': 'scale', 'kernel': 'sigmoid'}",-0.126045,-0.075274,-0.117573,-0.106297,0.022208,14
5,0.256550,0.096335,0.095203,0.028902,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",-0.029744,0.024305,-0.087219,-0.030886,0.045536,5
6,0.418134,0.130557,0.170242,0.095875,50,auto,rbf,"{'C': 50, 'gamma': 'auto', 'kernel': 'rbf'}",-0.116373,-0.068281,-0.114582,-0.099745,0.022261,8
7,0.186657,0.055949,0.110081,0.014714,50,auto,sigmoid,"{'C': 50, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.124306,-0.073333,-0.116351,-0.104664,0.022391,11
8,0.390063,0.148630,0.088265,0.023987,50,auto,linear,"{'C': 50, 'gamma': 'auto', 'kernel': 'linear'}",0.365731,0.407884,0.319956,0.364524,0.035907,3
9,0.238665,0.084065,0.165366,0.093220,50,scale,rbf,"{'C': 50, 'gamma': 'scale', 'kernel': 'rbf'}",-0.143480,-0.080313,-0.188164,-0.137319,0.044245,17
10,0.342659,0.139898,0.188138,0.109820,50,scale,sigmoid,"{'C': 50, 'gamma': 'scale', 'kernel': 'sigmoid'}",-0.138108,-0.088849,-0.124260,-0.117072,0.020742,15
11,0.304118,0.190546,0.078085,0.049354,50,scale,linear,"{'C': 50, 'gamma': 'scale', 'kernel': 'linear'}",0.365731,0.407884,0.319956,0.364524,0.035907,3
12,0.265233,0.140061,0.198986,0.134729,100,auto,rbf,"{'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}",-0.113010,-0.064058,-0.111684,-0.096251,0.022770,7
13,0.238504,0.103977,0.060913,0.038794,100,auto,sigmoid,"{'C': 100, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.124306,-0.073333,-0.116351,-0.104664,0.022391,11
14,0.645855,0.283841,0.078170,0.016052,100,auto,linear,"{'C': 100, 'gamma': 'auto', 'kernel': 'linear'}",0.535721,0.532197,0.486564,0.518161,0.022388,1
15,0.360461,0.153070,0.148717,0.043839,100,scale,rbf,"{'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}",-0.147772,-0.094747,-0.201098,-0.147873,0.043418,18
16,0.394102,0.074635,0.181371,0.135754,100,scale,sigmoid,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}",-0.151746,-0.103873,-0.138200,-0.131273,0.020148,16
17,0.425162,0.204213,0.065719,0.017099,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",0.535721,0.532197,0.486564,0.518161,0.022388,1

[CV 1/3] END .....C=10, gamma=auto, kernel=rbf;, score=-0.122 total time=   0.6s
[CV 2/3] END .C=10, gamma=auto, kernel=sigmoid;, score=-0.073 total time=   0.5s
[CV 1/3] END ..C=10, gamma=auto, kernel=linear;, score=-0.030 total time=   0.3s
[CV 3/3] END ..C=10, gamma=auto, kernel=linear;, score=-0.087 total time=   0.4s
[CV 1/3] END C=10, gamma=scale, kernel=sigmoid;, score=-0.126 total time=   0.5s
[CV 2/3] END ..C=10, gamma=scale, kernel=linear;, score=0.024 total time=   0.2s
[CV 1/3] END .....C=50, gamma=auto, kernel=rbf;, score=-0.116 total time=   0.3s
[CV 1/3] END .C=50, gamma=auto, kernel=sigmoid;, score=-0.124 total time=   0.2s
[CV 3/3] END .C=50, gamma=auto, kernel=sigmoid;, score=-0.116 total time=   0.4s
[CV 2/3] END ...C=50, gamma=auto, kernel=linear;, score=0.408 total time=   0.7s
[CV 3/3] END C=50, gamma=scale, kernel=sigmoid;, score=-0.124 total time=   0.8s
[CV 1/3] END C=100, gamma=auto, kernel=sigmoid;, score=-0.124 total time=   0.3s
[CV 1/3] END ..C=100, gamma=auto, kernel=linear;, score=0.536 total time=   0.5s
[CV 2/3] END ...C=100, gamma=scale, kernel=rbf;, score=-0.095 total time=   0.5s
[CV 3/3] END C=100, gamma=scale, kernel=sigmoid;, score=-0.138 total time=   0.4s
[CV 2/3] END .C=100, gamma=scale, kernel=linear;, score=0.532 total time=   0.3s
[CV 1/3] END .C=10, gamma=auto, kernel=sigmoid;, score=-0.124 total time=   0.3s
[CV 3/3] END ....C=10, gamma=scale, kernel=rbf;, score=-0.127 total time=   0.4s
[CV 3/3] END C=10, gamma=scale, kernel=sigmoid;, score=-0.118 total time=   0.6s
[CV 2/3] END .....C=50, gamma=auto, kernel=rbf;, score=-0.068 total time=   0.7s
[CV 3/3] END ...C=50, gamma=auto, kernel=linear;, score=0.320 total time=   0.3s
[CV 3/3] END ....C=50, gamma=scale, kernel=rbf;, score=-0.188 total time=   0.2s
[CV 1/3] END C=50, gamma=scale, kernel=sigmoid;, score=-0.138 total time=   0.2s
[CV 1/3] END ..C=50, gamma=scale, kernel=linear;, score=0.366 total time=   0.2s
[CV 3/3] END ..C=50, gamma=scale, kernel=linear;, score=0.320 total time=   0.2s
[CV 2/3] END ....C=100, gamma=auto, kernel=rbf;, score=-0.064 total time=   0.2s
[CV 3/3] END ....C=100, gamma=auto, kernel=rbf;, score=-0.112 total time=   0.3s
[CV 3/3] END C=100, gamma=auto, kernel=sigmoid;, score=-0.116 total time=   0.2s
[CV 2/3] END ..C=100, gamma=auto, kernel=linear;, score=0.532 total time=   0.6s
[CV 3/3] END ...C=100, gamma=scale, kernel=rbf;, score=-0.201 total time=   0.3s
[CV 2/3] END C=100, gamma=scale, kernel=sigmoid;, score=-0.104 total time=   0.5s
[CV 3/3] END .C=100, gamma=scale, kernel=linear;, score=0.487 total time=   0.4s
[CV 3/3] END .....C=10, gamma=auto, kernel=rbf;, score=-0.116 total time=   0.3s
[CV 1/3] END ....C=10, gamma=scale, kernel=rbf;, score=-0.121 total time=   0.4s
[CV 2/3] END C=10, gamma=scale, kernel=sigmoid;, score=-0.075 total time=   0.6s
[CV 3/3] END .C=10, gamma=scale, kernel=linear;, score=-0.087 total time=   0.4s
[CV 3/3] END .....C=50, gamma=auto, kernel=rbf;, score=-0.115 total time=   0.8s
[CV 1/3] END ....C=50, gamma=scale, kernel=rbf;, score=-0.143 total time=   0.4s
[CV 2/3] END C=50, gamma=scale, kernel=sigmoid;, score=-0.089 total time=   0.5s
[CV 1/3] END ....C=100, gamma=auto, kernel=rbf;, score=-0.113 total time=   0.9s
[CV 3/3] END ..C=100, gamma=auto, kernel=linear;, score=0.487 total time=   1.1s
[CV 1/3] END .C=100, gamma=scale, kernel=linear;, score=0.536 total time=   0.8s
[CV 2/3] END .....C=10, gamma=auto, kernel=rbf;, score=-0.072 total time=   0.4s
[CV 3/3] END .C=10, gamma=auto, kernel=sigmoid;, score=-0.116 total time=   0.3s
[CV 2/3] END ...C=10, gamma=auto, kernel=linear;, score=0.024 total time=   0.4s
[CV 2/3] END ....C=10, gamma=scale, kernel=rbf;, score=-0.062 total time=   0.7s
[CV 1/3] END .C=10, gamma=scale, kernel=linear;, score=-0.030 total time=   0.5s
[CV 2/3] END .C=50, gamma=auto, kernel=sigmoid;, score=-0.073 total time=   0.3s
[CV 1/3] END ...C=50, gamma=auto, kernel=linear;, score=0.366 total time=   0.5s
[CV 2/3] END ....C=50, gamma=scale, kernel=rbf;, score=-0.080 total time=   0.6s
[CV 2/3] END ..C=50, gamma=scale, kernel=linear;, score=0.408 total time=   0.7s
[CV 2/3] END C=100, gamma=auto, kernel=sigmoid;, score=-0.073 total time=   0.4s
[CV 1/3] END ...C=100, gamma=scale, kernel=rbf;, score=-0.148 total time=   0.7s
[CV 1/3] END C=100, gamma=scale, kernel=sigmoid;, score=-0.152 total time=   0.8s

In [20]:
#Dynamic input
dy_age = float(input("Age:"))
dy_bmi = float(input("BMI:"))
dy_childrens = float(input("Children:"))
dy_gender = int(input("Sex 0 or 1:"))
dy_smoker = int(input("Smoker 0 or 1:"))

Age:56
BMI:42.99
Children:5
Sex 0 or 1:0
Smoker 0 or 1:1

In [21]:
Prediction=grid.predict([[dy_age,dy_bmi,dy_childrens,dy_gender,dy_smoker]])
print("Prediction={}" .format(Prediction))

Prediction=[27568.64274105]

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(