In [1]:
!pip install lightgbm==3.3.5

Requirement already satisfied: lightgbm==3.3.5 in /home/had/anaconda3/lib/python3.9/site-packages (3.3.5)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/had/anaconda3/lib/python3.9/site-packages (from lightgbm==3.3.5) (1.0.2)
Requirement already satisfied: wheel in /home/had/anaconda3/lib/python3.9/site-packages (from lightgbm==3.3.5) (0.37.1)
Requirement already satisfied: scipy in /home/had/anaconda3/lib/python3.9/site-packages (from lightgbm==3.3.5) (1.7.3)
Requirement already satisfied: numpy in /home/had/anaconda3/lib/python3.9/site-packages (from lightgbm==3.3.5) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/had/anaconda3/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm==3.3.5) (2.2.0)
Requirement already satisfied: joblib>=0.11 in /home/had/anaconda3/lib/python3.9/site-packages (from scikit-learn!=0.22.0->lightgbm==3.3.5) (1.1.0)

In [2]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import lightgbm as lgb

In [3]:
#dataset reading
dts = pd.read_csv("insurance_pre.csv")

In [4]:
dts

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
dts.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [6]:
dts = pd.get_dummies(dts,drop_first=True)

In [7]:
dts

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [8]:
#columns rename-ing
dts.rename(columns={"sex_male":"sex","smoker_yes":"smoker"},inplace=True)

In [9]:
dts

      age     bmi  children      charges  sex  smoker
0      19  27.900         0  16884.92400    0       1
1      18  33.770         1   1725.55230    1       0
2      28  33.000         3   4449.46200    1       0
3      33  22.705         0  21984.47061    1       0
4      32  28.880         0   3866.85520    1       0
...   ...     ...       ...          ...  ...     ...
1333   50  30.970         3  10600.54830    1       0
1334   18  31.920         0   2205.98080    0       0
1335   18  36.850         0   1629.83350    0       0
1336   21  25.800         0   2007.94500    0       0
1337   61  29.070         0  29141.36030    0       1

[1338 rows x 6 columns]

In [10]:
#separate the input and output values
feature = dts[["age","bmi","children","sex","smoker"]]
target = dts[["charges"]]

In [11]:
feature,target

(      age     bmi  children  sex  smoker
 0      19  27.900         0    0       1
 1      18  33.770         1    1       0
 2      28  33.000         3    1       0
 3      33  22.705         0    1       0
 4      32  28.880         0    1       0
 ...   ...     ...       ...  ...     ...
 1333   50  30.970         3    1       0
 1334   18  31.920         0    0       0
 1335   18  36.850         0    0       0
 1336   21  25.800         0    0       0
 1337   61  29.070         0    0       1

 [1338 rows x 5 columns],
           charges
 0     16884.92400
 1      1725.55230
 2      4449.46200
 3     21984.47061
 4      3866.85520
 ...           ...
 1333  10600.54830
 1334   2205.98080
 1335   1629.83350
 1336   2007.94500
 1337  29141.36030

 [1338 rows x 1 columns])

In [12]:
#splitting the train & test sets.
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(feature,target,test_size=0.33,random_state=0)

In [13]:
X_train, X_test

(      age     bmi  children  sex  smoker
 1271   25  34.485         0    0       0
 1313   19  34.700         2    0       1
 2      28  33.000         3    1       0
 405    52  38.380         2    0       0
 482    18  31.350         0    0       0
 ...   ...     ...       ...  ...     ...
 763    27  26.030         0    1       0
 835    42  35.970         2    1       0
 1216   40  25.080         0    1       0
 559    19  35.530         0    1       0
 684    33  18.500         1    0       0

 [896 rows x 5 columns],
       age     bmi  children  sex  smoker
 578    52  30.200         1    1       0
 610    47  29.370         1    0       0
 569    48  40.565         2    1       1
 1034   61  38.380         0    1       0
 198    51  18.050         0    0       0
 ...   ...     ...       ...  ...     ...
 117    29  27.940         1    0       1
 520    50  27.360         0    0       0
 422    40  32.775         1    1       1
 294    25  26.800         3    1       0
 261    20  26.840         1    0       1

 [442 rows x 5 columns])

In [14]:
Y_train, Y_test

(          charges
 1271   3021.80915
 1313  36397.57600
 2      4449.46200
 405   11396.90020
 482    1622.18850
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [896 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 117   19107.77960
 520   25656.57526
 422   39125.33225
 294    3906.12700
 261   17085.26760

 [442 rows x 1 columns])

In [15]:
#Standardisation procedure to maintain least different between inputs.
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [16]:
X_train

array([[-1.03606235,  0.6150522 , -0.91008919, -0.98669564, -0.4996512 ],
       [-1.46484381,  0.64987934,  0.7540739 , -0.98669564,  2.00139616],
       [-0.82167162,  0.37450199,  1.58615545,  1.01348375, -0.4996512 ],
       ...,
       [ 0.03589131, -0.90843249, -0.91008919,  1.01348375, -0.4996512 ],
       [-1.46484381,  0.78432828, -0.91008919,  1.01348375, -0.4996512 ],
       [-0.46435373, -1.97430482, -0.07800765, -0.98669564, -0.4996512 ]])

In [17]:
X_test

array([[ 0.89345423, -0.07906071, -0.07800765,  1.01348375, -0.4996512 ],
       [ 0.53613634, -0.21350965, -0.07800765, -0.98669564, -0.4996512 ],
       [ 0.60759992,  1.59993119,  0.7540739 ,  1.01348375,  2.00139616],
       ...,
       [ 0.03589131,  0.33805498, -0.07800765,  1.01348375,  2.00139616],
       [-1.03606235, -0.62981541,  1.58615545,  1.01348375, -0.4996512 ],
       [-1.39338023, -0.62333594, -0.07800765, -0.98669564,  2.00139616]])

In [18]:
#Creating & training the model
from lightgbm import LGBMRegressor
model1_create = LGBMRegressor(objective = "regression", boosting_type = "gbdt",num_leaves = 31,max_depth = 3,n_estimators=110,learning_rate = 0.05,feature_fraction = 0.9)
model1_create = model1_create.fit(X_train, Y_train)

[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
Y_pred1 = model1_create.predict(X_test)

In [20]:
Y_pred1

array([13054.93783965, 10507.80522485, 46020.71009528, 14352.9395881 ,
        9774.2568443 ,  4662.4522464 ,  2735.31171196, 12163.691754  ,
        7470.61834653,  6820.29750827,  6673.75501136, 12018.1203353 ,
        9929.62536957,  6178.33640181, 19923.4796009 , 12191.62345205,
       14899.84342778,  5491.22123383,  7340.29827944, 34301.6379214 ,
       24502.42462892, 14277.50426714, 12177.10298542, 26471.16809889,
        3585.43991161,  6434.97780415,  4455.01478593,  8121.8769662 ,
        5016.68602314, 10216.32379074,  7980.70792812, 48632.32522574,
       14643.34760921, 11855.72546094, 17105.08213524,  5235.8269401 ,
       10821.57976743, 37077.95873006, 39048.07620907,  3611.86610082,
        5381.45676275,  5320.00315659, 20382.21198973, 47451.4029436 ,
       37118.68982859,  4888.85096826, 12191.62345205,  7590.45718683,
        5603.46589453, 12574.03397505,  4634.88943553,  4469.06532437,
       26482.01706988, 46760.13818429, 11844.91340398,  5330.36082116,
        4519.91816963, 10152.15003236, 10792.19138907, 16850.87591471,
        2803.07776811, 45543.94645666, 17777.9292743 , 12212.83008761,
       12343.91514678, 10447.91656587, 32056.98664709, 39031.66821053,
        3974.56039282,  9300.84154642, 15221.34049739, 12856.97745332,
       18049.96686519, 14525.71818656, 14696.2214216 , 15097.11518853,
        9078.43928546, 10163.11146138, 18968.83441486, 47304.57117538,
       11875.58819511, 44488.49473448,  3299.16084644, 10123.93557688,
       41578.63421562, 19235.83344197,  5515.41182529,  4519.91816963,
       15747.3190234 , 40561.07408745,  6771.15917465, 12027.60620417,
        4544.10876109, 10195.11715518,  6082.59458036,  6244.74463839,
       44374.21664478, 39028.63917804,  6836.70550681, 11538.02120372,
        4608.46324633,  6862.24947957,  6836.70550681, 40834.94687666,
       25846.54290571,  4455.01478593, 11396.33834102,  5273.4415742 ,
       12000.34923464, 44039.78478107, 13441.76046072,  5913.90393679,
       10507.80522485, 34177.90944196, 48534.12902599,  7840.35127718,
        3061.45137406, 10152.15003236, 15391.50861395,  9951.20610027,
       41596.53053546, 11311.78471904, 13851.60846082,  7498.88073047,
       10379.46801022,  5938.96119953, 25614.04279286, 24477.58670177,
       48294.95195375,  3024.24187649, 10497.75995705,  4556.74297581,
        6878.65747812,  9846.46741521, 26236.82174688, 39013.77189069,
       22985.01634274, 11919.52894477, 25047.54953679,  5951.56463326,
        3325.58703565, 12362.71238852, 11893.90263361, 12000.34923464,
        6828.47888396, 14525.71818656, 15486.99405404,  6230.51142171,
        2089.49243672, 12647.85522762,  7238.44834005, 39818.34661247,
       10819.0689369 ,  4407.91743098,  3764.06978774,  8190.22337296,
        4270.46391064,  3884.57738312, 12191.62345205, 11305.05465546,
        6753.86357804, 14058.155264  , 14837.7964073 , 10567.18364703,
        4599.28132265,  7407.44519626, 15959.13848911,  6836.70550681,
        6579.76536238,  2792.76672354,  6753.86357804,  7245.0534763 ,
       10179.51945993,  4608.46324633,  6781.12054757,  7318.90011956,
        5957.62404878,  7128.64419159, 27393.11091412,  2700.52338335,
       14437.85001938,  7454.21034799, 12000.34923464,  5190.59964543,
        6518.20964299, 26827.92535817,  3299.16084644,  3676.3916175 ,
       14124.38178907, 11305.05465546, 41961.47969406,  6166.02403101,
        6621.90192706, 24115.32958929,  4519.91816963,  4363.71515607,
        7481.46731752,  7405.07201438,  6749.00098007,  6114.4245713 ,
       12883.74311643, 44362.04373701, 14277.50426714, 18443.99300611,
        6893.62475377, 43350.70712322,  6049.41150663, 12160.69498688,
        7549.69578808,  2617.84957974, 10632.56626439, 14257.62576289,
        6579.94995575,  4634.88943553,  7741.66280875,  4049.0342869 ,
        7805.63907052,  6381.64527098, 16540.92947708,  6673.75501136,
        8154.95176477,  7766.53002461, 10160.74852451,  4289.64179847,
       12016.75723318, 14510.10363539, 14961.83768538, 12036.98657719,
        5954.75049502,  4254.80047916,  3436.61436679,  9844.79331748,
       14162.09655732,  5946.99398964,  5889.3976968 ,  8105.46896766,
       11098.81690358, 35350.19141876,  6851.891815  , 13967.79512576,
        6458.79344084, 36117.48685818,  8056.33063404,  9557.16021303,
       10190.36843091, 12867.33511789,  4233.5641573 ,  9929.62536957,
        3016.06119938,  7233.547676  , 20685.93735277, 45560.3544552 ,
        6166.02403101,  5515.41182529,  2912.4435386 ,  2753.17790913,
       10096.67860735,  3129.74550725,  6792.32924346,  6256.73309175,
        8674.60856292, 26244.17013995, 44039.78478107, 18152.96659571,
        7845.21721273, 11538.02120372, 43035.30865102, 10287.29547424,
       39271.97329358,  3585.43991161, 36757.57230198,  6820.29750827,
       12883.74311643,  6525.81489295, 40834.94687666,  6878.65747812,
       12000.34923464, 11017.43311369,  4270.46391064, 16813.74366145,
       12466.59987384,  6082.59458036, 13909.845411  ,  3435.78358646,
        6717.62570587,  6171.72717894,  9317.24954496, 23237.64820627,
        4644.05738267,  2700.52338335,  3100.96294052, 47400.05661547,
       10367.44857392,  6244.74463839, 14277.50426714, 12883.74311643,
       34984.04732832,  8231.77373778,  6862.24947957, 10327.38846285,
        3299.16084644,  4862.42477906, 17153.2375601 , 17521.67469132,
       14257.62576289,  4254.80047916,  5574.0631626 , 10657.80429198,
       12160.69498688, 16069.33503992, 21676.09771684,  7421.48633005,
       16466.41048771,  3325.58703565,  7072.70077574,  6082.59458036,
       10381.2513855 ,  3683.63540113,  9301.04298021, 45929.51094607,
        5175.13003343,  6244.74463839,  2319.90948737, 10301.91756259,
        5352.51901574, 12053.25999728, 45882.61341114, 18584.66440807,
       10632.56626439, 43873.75429696, 14277.50426714,  6893.62475377,
       10846.32590643,  6027.10340524, 27010.56779994,  6103.57560032,
       15096.62313865,  3733.65929199, 16603.79963168,  4040.79887356,
       25108.26060937,  7247.03601016,  4049.0342869 , 39698.67483461,
        6836.70550681,  5842.24702784, 28535.09907573,  3299.16084644,
       10604.59196263,  4831.6824918 , 12360.32314532,  4676.31885531,
        7245.9690871 ,  6893.62475377, 44374.21664478, 10332.56520274,
       36459.09762904, 38056.11800142,  6851.891815  ,  9646.33901307,
        2906.63217208,  5352.77539711,  4888.85096826, 10487.94249068,
       44565.9474366 , 11466.18847522,  2961.20453513, 14131.55034399,
        3274.36928095,  9766.02990555,  6187.75181681,  4391.88467314,
        5377.30916528, 37236.10236663,  5954.75049502,  2311.96924802,
       42282.0366209 , 12867.33511789, 42101.7567126 , 11466.18847522,
        6228.33663985,  3252.0760772 ,  2820.67506629, 12229.23808615,
        7213.6782021 ,  3435.78358646, 13044.08886867,  7433.00371243,
        7499.81379332,  6024.85499294,  4617.64440164, 42696.069013  ,
        3299.16084644, 10277.30248424,  3879.62525764,  7954.22581667,
       11583.98545552,  6157.04011165, 16553.94828723, 12441.12672208,
       16714.48110618, 15342.5605882 ,  3015.99794258,  7164.79306933,
       14626.07845899,  9225.43080423,  7805.63907052,  3241.28692278,
       34094.13908035, 14563.47672029,  7806.43654368, 14352.9395881 ,
       10583.42793077, 14402.47589027, 47487.60845781,  5148.70384422,
       10450.36332379,  3299.16084644, 16387.03285373,  3168.8656502 ,
        6673.75501136,  2792.76672354, 11713.53844667,  5937.97080665,
       10592.7802027 , 41977.8876926 ,  6099.0025789 , 34685.11803708,
       18932.62535061, 11538.02120372,  9728.41527145, 38674.54468014,
       10301.91756259,  5016.68602314, 10023.1910831 , 22151.38552511,
       38739.89910147, 19728.54052457, 10938.26287575, 39013.77189069,
        6434.61082477, 18084.7551938 ])

In [21]:
from sklearn.metrics import r2_score
rscore1 = r2_score(Y_test,Y_pred1)

In [22]:
#model1
rscore1

0.8967952442781606

In [23]:
#saving model phase
import pickle
filename = "bestmodel_LightGBM.sav"
pickle.dump(model1_create,open(filename,"wb"))

In [30]:
#loading the model for testing purpose
#Giving static input
loaded_model = pickle.load(open("bestmodel_LightGBM.sav","rb"))
static_input = loaded_model.predict([[61,29.070,0,0,1]])

In [31]:
#actual output 29141.360, Predicted output 49973.44
static_input

array([49973.44886376])

In [26]:
#Giving Dynamic input
dy_age =  int(input("Enter the age:"))
dy_bmi = float(input("Enter the bmi:"))
dy_childrens = int(input("Enter no of childrens:"))
dy_gender = int(input("Enter the gender 0 or 1:"))
dy_smoker = int(input("Enter the smoker 0 or 1:"))

Enter the age:61
Enter the bmi:29.070
Enter no of childrens:0
Enter the gender 0 or 1:0
Enter the smoker 0 or 1:1

In [28]:
dynamic_input = loaded_model.predict([[dy_age,dy_bmi,dy_childrens,dy_gender,dy_smoker]])

In [29]:
#actual output 29141.360, Predicted output 49973.44
dynamic_input

array([49973.44886376])