In [19]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.4-py3-none-manylinux_2_28_x86_64.whl (223.6 MB)
     |████████████████████████████████| 223.6 MB 1.4 kB/s eta 0:00:01    |█████████▉                      | 68.7 MB 6.9 MB/s eta 0:00:23     |███████████                     | 77.3 MB 221 kB/s eta 0:11:01     |█████████████▎                  | 92.7 MB 7.0 MB/s eta 0:00:19     |█████████████▍                  | 93.9 MB 7.0 MB/s eta 0:00:19     |███████████████▏                | 106.2 MB 4.7 MB/s eta 0:00:26     |███████████████▎                | 106.9 MB 4.7 MB/s eta 0:00:25     |███████████████▎                | 107.2 MB 4.7 MB/s eta 0:00:25     |████████████████▊               | 117.2 MB 6.9 MB/s eta 0:00:16     |█████████████████▎              | 120.8 MB 6.9 MB/s eta 0:00:15     |███████████████████▍            | 135.4 MB 7.5 MB/s eta 0:00:12     |██████████████████████▍         | 156.4 MB 7.3 MB/s eta 0:00:10     |████████████████████████████▎   | 197.6 MB 5.2 MB/s eta 0:00:06     |███████████████████████████████▌| 220.4 MB 6.7 MB/s eta 0:00:01
Collecting nvidia-nccl-cu12
  Downloading nvidia_nccl_cu12-2.25.1-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (201.4 MB)
     |████████████████████████████████| 201.4 MB 9.2 kB/s eta 0:00:012  |█                               | 6.3 MB 7.1 MB/s eta 0:00:28     |██▎                             | 14.5 MB 6.5 MB/s eta 0:00:29     |███▍                            | 21.0 MB 7.2 MB/s eta 0:00:25     |████                            | 24.7 MB 7.2 MB/s eta 0:00:25     |█████▏                          | 32.4 MB 6.7 MB/s eta 0:00:26     |█████▋                          | 35.1 MB 6.7 MB/s eta 0:00:25     |██████████████                  | 88.1 MB 6.1 MB/s eta 0:00:19     |█████████████████▎              | 108.8 MB 6.4 MB/s eta 0:00:15     |████████████████████████        | 151.7 MB 7.4 MB/s eta 0:00:07
Requirement already satisfied: numpy in /home/had/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /home/had/anaconda3/lib/python3.9/site-packages (from xgboost) (1.7.3)
Installing collected packages: nvidia-nccl-cu12, xgboost
Successfully installed nvidia-nccl-cu12-2.25.1 xgboost-2.1.4

In [33]:
#importing libraries
#numpy & pandas dataset handlers & numpy used to parse .csv file.
#matplotlib used to create graphs like visuablisaton.
#xgboost optimized gradient boosting algorithm which allows efficient predictions on various
#classification and regression tasks.
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import xgboost

In [27]:
print(xgboost.__version__)

2.1.4

In [28]:
#dataset reading
dts = pd.read_csv("insurance_pre.csv")

In [29]:
dts

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [30]:
dts.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [31]:
dts = pd.get_dummies(dts,drop_first=True)

In [32]:
dts

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [35]:
#Columns rename-ing
dts.rename(columns={"sex_male":"sex","smoker_yes":"smoker"},inplace=True)

In [36]:
dts

      age     bmi  children      charges  sex  smoker
0      19  27.900         0  16884.92400    0       1
1      18  33.770         1   1725.55230    1       0
2      28  33.000         3   4449.46200    1       0
3      33  22.705         0  21984.47061    1       0
4      32  28.880         0   3866.85520    1       0
...   ...     ...       ...          ...  ...     ...
1333   50  30.970         3  10600.54830    1       0
1334   18  31.920         0   2205.98080    0       0
1335   18  36.850         0   1629.83350    0       0
1336   21  25.800         0   2007.94500    0       0
1337   61  29.070         0  29141.36030    0       1

[1338 rows x 6 columns]

In [37]:
#separating the input and output values in datasets.
feature = dts[["age","bmi","children","sex","smoker"]]
target = dts[["charges"]]

In [38]:
#printing the input and output values
feature,target

(      age     bmi  children  sex  smoker
 0      19  27.900         0    0       1
 1      18  33.770         1    1       0
 2      28  33.000         3    1       0
 3      33  22.705         0    1       0
 4      32  28.880         0    1       0
 ...   ...     ...       ...  ...     ...
 1333   50  30.970         3    1       0
 1334   18  31.920         0    0       0
 1335   18  36.850         0    0       0
 1336   21  25.800         0    0       0
 1337   61  29.070         0    0       1

 [1338 rows x 5 columns],
           charges
 0     16884.92400
 1      1725.55230
 2      4449.46200
 3     21984.47061
 4      3866.85520
 ...           ...
 1333  10600.54830
 1334   2205.98080
 1335   1629.83350
 1336   2007.94500
 1337  29141.36030

 [1338 rows x 1 columns])

In [46]:
#plitting the train & test sets.
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(feature,target,test_size=0.33,random_state=0)

In [47]:
X_train, X_test

(      age     bmi  children  sex  smoker
 1271   25  34.485         0    0       0
 1313   19  34.700         2    0       1
 2      28  33.000         3    1       0
 405    52  38.380         2    0       0
 482    18  31.350         0    0       0
 ...   ...     ...       ...  ...     ...
 763    27  26.030         0    1       0
 835    42  35.970         2    1       0
 1216   40  25.080         0    1       0
 559    19  35.530         0    1       0
 684    33  18.500         1    0       0

 [896 rows x 5 columns],
       age     bmi  children  sex  smoker
 578    52  30.200         1    1       0
 610    47  29.370         1    0       0
 569    48  40.565         2    1       1
 1034   61  38.380         0    1       0
 198    51  18.050         0    0       0
 ...   ...     ...       ...  ...     ...
 117    29  27.940         1    0       1
 520    50  27.360         0    0       0
 422    40  32.775         1    1       1
 294    25  26.800         3    1       0
 261    20  26.840         1    0       1

 [442 rows x 5 columns])

In [48]:
Y_train, Y_test

(          charges
 1271   3021.80915
 1313  36397.57600
 2      4449.46200
 405   11396.90020
 482    1622.18850
 ...           ...
 763    3070.80870
 835    7160.33030
 1216   5415.66120
 559    1646.42970
 684    4766.02200

 [896 rows x 1 columns],
           charges
 578    9724.53000
 610    8547.69130
 569   45702.02235
 1034  12950.07120
 198    9644.25250
 ...           ...
 117   19107.77960
 520   25656.57526
 422   39125.33225
 294    3906.12700
 261   17085.26760

 [442 rows x 1 columns])

In [201]:
#Standardisation procedure to maintain least different between inputs.
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [208]:
X_test,X_train

(array([[ 0.89345423, -0.07906071, -0.07800765,  1.01348375, -0.4996512 ],
        [ 0.53613634, -0.21350965, -0.07800765, -0.98669564, -0.4996512 ],
        [ 0.60759992,  1.59993119,  0.7540739 ,  1.01348375,  2.00139616],
        ...,
        [ 0.03589131,  0.33805498, -0.07800765,  1.01348375,  2.00139616],
        [-1.03606235, -0.62981541,  1.58615545,  1.01348375, -0.4996512 ],
        [-1.39338023, -0.62333594, -0.07800765, -0.98669564,  2.00139616]]),
 array([[-1.03606235,  0.6150522 , -0.91008919, -0.98669564, -0.4996512 ],
        [-1.46484381,  0.64987934,  0.7540739 , -0.98669564,  2.00139616],
        [-0.82167162,  0.37450199,  1.58615545,  1.01348375, -0.4996512 ],
        ...,
        [ 0.03589131, -0.90843249, -0.91008919,  1.01348375, -0.4996512 ],
        [-1.46484381,  0.78432828, -0.91008919,  1.01348375, -0.4996512 ],
        [-0.46435373, -1.97430482, -0.07800765, -0.98669564, -0.4996512 ]]))

In [209]:
#creating & training the model
#hypertunning parameter's
#criterion{‘squared_error’}, default=’friedman_mse’
#loss{‘absolute_error’, ‘huber’, ‘quantile’}, default=’squared_error’
from sklearn.ensemble import GradientBoostingRegressor
model1_create =  GradientBoostingRegressor(n_estimators=500, max_depth=4,min_samples_split=5,learning_rate=0.01,loss="huber")
model1_create = model1_create.fit(X_train, Y_train)

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [210]:
Y_pred = model1_create.predict(X_test)

In [211]:
Y_pred

array([10467.16471197,  9347.44641068, 45486.34644652, 13431.1527403 ,
        9382.6851907 ,  4991.33939494,  2059.70151614, 10593.24721757,
        6933.4968906 ,  5455.83886798,  6785.55553245, 10636.31271706,
        8589.86809227,  5264.55844757, 18589.30617459, 10876.84978144,
       12653.75976719,  3312.30880237,  6313.96855804, 34364.24117134,
       23332.9096202 , 12696.67825117, 10767.87320337, 24390.97950015,
        1924.62663012,  4431.78878629,  3742.52850298,  7732.85798746,
        3753.39899088,  8595.11655262,  7710.15833411, 47898.72741561,
       13650.75766751, 11100.72619127, 15630.17104344,  3753.39899088,
        8429.75159006, 37598.48977418, 39696.67894162,  2210.90879563,
        5242.3963499 ,  3467.52122013, 20083.69214655, 46561.43108127,
       36674.24346012,  3086.31858582, 10876.84978144,  6315.04034412,
        4609.08679689, 11927.42970927,  2875.36949565,  3250.96681639,
       24395.20788159, 45827.62179147, 11385.15157666,  3231.64263316,
        2558.40780588,  8997.25188404,  9634.24310229, 13589.86784265,
        1933.83960062, 44251.77921043, 14487.63902207, 10145.53697807,
       10236.29599541,  9322.80152622, 33256.54035826, 38355.87019379,
        2861.32563718,  8341.78219249, 13716.74394164, 11600.71833611,
       17438.54855342, 13870.67844046, 12990.5298151 , 12933.66180605,
        7940.41947852,  8440.67748728, 18394.74553953, 46512.93055888,
       11379.43806744, 44966.2524068 ,  1920.21672827,  8136.59449263,
       41407.07584118, 18859.8589698 ,  3541.05338307,  2686.28032726,
       13513.31873853, 37704.79112942,  5543.84464999, 11086.41736821,
        2787.11293422,  9141.95572343,  4995.42075432,  4675.25855769,
       41675.31363636, 39579.74799807,  5192.02708145, 11043.42822896,
        2558.36835352,  5236.00490417,  5127.75407026, 38917.31909352,
       24178.81891039,  3707.73461491, 11119.07061752,  3528.48865075,
       11351.75875377, 45345.48564506, 12559.19462997,  4891.36863594,
        9433.72378512, 34136.15293422, 47722.43984853,  6869.48847943,
        2185.76475213,  8997.25188404, 13598.74225417,  8952.91953748,
       41760.23179259, 10814.40086472, 14143.97830499,  5374.33457179,
        8579.04678449,  5259.74429216, 23647.41385491, 25219.79568689,
       47675.3988333 ,  1920.25618064,  8975.63831251,  2654.50049656,
        5981.25557827,  8804.46201404, 38171.63818194, 36914.9822911 ,
       20994.53090403, 10495.27158678, 23787.60601938,  3531.10876539,
        2206.49889378, 11098.29571379,  9546.1286255 , 10473.45467579,
        5255.90815026, 14249.57384102, 13814.57034965,  4358.97286309,
        1644.56414127, 10579.2954215 ,  5933.1595973 , 40972.25157949,
        9090.27471109,  2857.01221215,  2797.447072  ,  6957.70974487,
        2627.60570356,  2678.24445571, 10876.84978144, 10403.15967619,
        5292.8300166 , 13573.62450018, 12933.66180605,  8767.4354433 ,
        3768.21607091,  5976.70120057, 15078.28356145,  5718.26420011,
        4474.67816365,  2127.07397652,  4925.47444725,  5083.94261013,
        8975.63831251,  2558.40780588,  5468.67748168,  5976.70120057,
        4919.72338514,  6319.19821737, 28109.87447134,  1694.46354263,
       12113.07248756,  6727.11936897, 11344.81696446,  3198.25251081,
        6071.01302469, 28217.24971985,  1920.21672827,  2744.60560028,
       14249.57384102, 10221.02423622, 41016.53391858,  4479.3345088 ,
        5471.54632398, 22877.67361901,  2558.40780588,  2775.7438273 ,
        6373.94288458,  6202.29755454,  5077.62193696,  4462.79981807,
       10976.58026514, 46176.21010829, 12561.26424669, 19286.01260765,
        5077.58248459, 42725.41578813,  4192.18262436, 10341.59204184,
        6267.09339199,  1819.4461558 ,  8829.6330653 , 13831.29786917,
        5645.94717457,  2879.73994514,  6303.16199854,  2775.7438273 ,
        6526.95056249,  5279.11695436, 14714.99038645,  6457.00286604,
        6583.63498581,  7824.90604497,  9395.75925862,  3175.91874318,
       11638.70154183, 14127.05650293, 12591.08271514, 11631.43346796,
        6611.68751838,  2741.61578039,  2149.62323686,  7961.70965399,
       12878.4622742 ,  4886.55782388,  4621.97031844,  6880.3097872 ,
        9445.6021307 , 34561.9625158 ,  5589.6791981 , 12159.6001489 ,
        5670.96429578, 36494.48976217,  7467.62646407,  8629.23902492,
        8798.48047213, 10467.16471197,  2685.9697025 ,  8589.86809227,
        2044.09679881,  6315.04034412, 19906.64827874, 46645.4816004 ,
        4191.76498065,  3541.05338307,  2336.09345393,  1698.62141588,
        8136.59449263,  2212.31610354,  6148.13876381,  4561.48886243,
        8918.23048543, 24008.7780266 , 45246.35742765, 15414.67672349,
        6303.16199854, 11239.0855819 , 40490.09399578,  8952.91953748,
       39492.95119543,  1926.03393804, 37531.97807659,  5079.82681953,
       11908.91173654,  4491.21285438, 39286.14788075,  5368.73051927,
       10341.59204184,  9811.38182099,  2627.60570356, 13869.76988151,
       11624.39271876,  5047.77660596, 12646.71901799,  2514.86121037,
        5690.1310307 ,  4343.41657747,  9004.45457846, 21332.03733516,
        3066.95120875,  1694.46354263,  2507.21948885, 46600.40007396,
        8922.97582319,  4636.4664141 , 12561.26424669, 11547.57335053,
       34596.96040029,  6946.8884371 ,  5279.11699195,  8867.91996968,
        2084.61774779,  2896.92368807, 17073.39169938, 16514.49952709,
       13831.29786917,  2741.61578039,  3629.27049214,  8952.91953748,
       10341.59204184, 14418.31977787, 20778.9081618 ,  6275.13730213,
       16527.079838  ,  2449.8557213 ,  5949.74632544,  4995.42075432,
        9391.65213304,  2544.23536865,  7927.77732857, 43258.66625547,
        3086.35803819,  4534.43283108,  2041.5283248 ,  9395.75925862,
        3592.76166193, 11664.16130386, 45993.24920284, 18324.93624889,
        8911.09747761, 42827.6298    , 12915.66084339,  5077.58248459,
        9090.27471109,  4343.45602983, 28461.68261097,  4807.96450319,
       13783.89893992,  2364.83663811, 16527.079838  ,  3163.03522163,
       24656.86838018,  6610.48606441,  2775.7438273 , 40853.41334783,
        5665.5126106 ,  5230.54595365, 30234.66839162,  2084.61774779,
        8775.78081878,  2671.43871383, 11001.21247803,  3689.76578128,
        6265.08472627,  5374.29511942, 44619.23679076,  9270.75434717,
       36125.6122255 , 37609.46222878,  5589.6791981 ,  8341.78219249,
        1657.44766282,  3731.3029999 ,  3366.95950456,  8712.17949652,
       44936.78298292, 11320.44946664,  2054.41184635, 12584.25141227,
        2206.53834614,  8749.02122266,  4499.38707908,  2470.15124445,
        3483.67788366, 36642.53229174,  6158.66099486,  2067.85934116,
       39903.29778651, 11389.96665578, 41974.92129659, 11327.39125595,
        4436.15923577,  2750.63324778,  2313.60856279, 10624.43437148,
        5259.01062025,  2228.98378492, 10893.44587349,  6873.52256406,
        5915.46081201,  4479.3345088 ,  3173.08581431, 39813.67400356,
        1920.21672827,  9523.72632097,  2334.70655782,  7010.06559652,
       11043.42822896,  4275.38683769, 17768.16637009, 10933.39999222,
       15235.22225643, 13893.62203368,  2347.97179951,  6558.13021277,
       12551.25288687,  8559.62542155,  5853.8948184 ,  2299.07757413,
       34136.15293422, 13439.58548872,  7010.06559652, 13573.62450018,
        9229.9928419 , 12496.27218385, 47923.75564682,  3268.72861164,
        8603.02803001,  2083.68123816, 14729.29920951,  1920.25618064,
        6457.00286604,  2127.07397652, 11385.15157666,  5427.93572918,
       11320.44946664, 40934.48110003,  5278.64193461, 34370.99423194,
       18127.75635861, 11239.0855819 ,  8760.89956824, 41182.58750768,
        9395.75925862,  3753.39899088,  8765.74291287, 19991.34013254,
       37104.39976243, 18519.74646813,  9523.72632097, 39417.65973388,
        4519.26404255, 17329.5188275 ])

In [212]:
from sklearn.metrics import r2_score
rscore = r2_score(Y_test, Y_pred)

In [213]:
rscore

0.8921174804457045